html {
  padding: 0px;
  margin: 0px;
  background-color: rgb(249,241,191);
}
/*
Light color: rgb(249,241,191)
Medium color: rgb(243,183,91)
Dark color: rgb(205,128,42)
*/
h1 {
  text-align: center;
}

.BOTW img {
  height: 400px;
  background: rgba(0, 0, 0, 0.5);

}

.BOTW {
  width: fit-content;
  margin: auto;
}
