#left_nav {
  color: black;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  padding: 2%;
  margin: 1%;

}
#right_nav
{
  color: black;
  text-decoration: none;
  display:inline-block;
  border: 1px solid black;
  padding: 2%;
  margin: 1%;

}

nav {
  background-color: red;
}

li {
  list-style: none;
}

img, #Logo {
  width: 150px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  border: 0px;
}
