h1 {
  text-align: center;
  color: #CD802A;
}

table {
  margin: auto;
}

body {
  background-color: #F9F1BF;
}
.productImage{
  height: 450px;
  width: 450px;
}

.Product{
  align-items: center;
}

td {
  border: 2px solid #CD802A;
}
